 .nav-container {
            height: 36px;
            position: relative;
            color: white;
        }

        .logo {
            position: absolute;
            /* top: 32px;
            left: 48px; */
            display: flex;
            align-items: center;
            gap: 10px;
        }

        .logo img {
            height: 24px;
            width: auto;
        }

        .nav-grid {
            position: absolute;
            /* left: 1310px; */
            left: 70%;
            top: 32px;
            /* display: flex; */
            gap: 70px;
        }

        .nav-item {
            position: relative;
            cursor: pointer;
            transition: all 0.3s;
        }

        .nav-item:hover::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
            width: 24px;
            height: 2px;
            background: #FF350D;
            transition: all 0.3s ease;
        }

        .nav-item.active::after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -8px;
            transform: translateX(-50%);
            width: 24px;
            height: 2px;
            background: #FF350D;
        }